#slyder {
	width: 1110px;
	height: 160px;
 	overflow: hidden;
 	vertical-align: middle;
}

#polosa {
	position: relative;
	transition: all ease 2.9s;
	left: 0;
	width: 0;
}

.info__img  {
	margin-top: 10px;
	margin-left: 10px;
	float: left;
	border-radius: 0px;
 	/*order:1px solid #e26464;*/
}

.info__img img {
 	box-shadow: 0px 0px 10px 3px rgba(14,14,14,0.3); 
 	width: 350px	;
 	/*order:1px solid #e26464;*/
}

.info__img button{
	position: absolute;
	font-size: 24px;
	margin-top: 110px;
	margin-left: -260px;
	opacity: 0%;
	color:#fef9c7;
	background-color:#e26464;
	transition: 1s;
	border-radius: 5px;
 	box-shadow: 0px 0px 10px 3px rgb(173, 173, 173); 
	padding: 5px;
}
.info__img img:hover{
	filter: blur(5px);
}

.info__img:hover img{
	filter: blur(2.5px);
}
.info__img:hover button{ 
	opacity: 100%; 
	cursor: pointer;
	margin-top: 66px;
}


#polosa::after {
	content: "";
	display: block;
	clear: both;
}

.item {
	margin-right: 10px;
	height: 140px;
	width: 350px;
}


