.block__chat{
	position: fixed;
	width: 400px;
	height: 400px;
	top: -1px;
	margin-top: 500px;
	margin-left: 1400px;
}

.Bot{
	position: absolute;
	width: 100px;
	height: 100px;
	margin-top: 300px;
	margin-left: 300px;
	background-image:url(чат.png);
	background-color: #e26464;
	border-radius: 30px;
	box-shadow: 5px 5px 20px 5px rgba(14,14,14,.3);
	transition: 0.5s;
}

.Bot:hover{
	transform: rotate(-360deg);
}

.polosa__bota{
	position: absolute;
	display: none;
	width: 300px;
	height: 400px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 5px 5px 20px 5px rgba(14,14,14,.3);	

	border:2px solid #e26464;
}