@font-face {
	font-family: "Monserat-Thin";
	font-style: normal;
	font-weight: 100;
	font-display: fallback;
	src: url("../fonts/Montserrat-Thin.ttf");
}

@font-face {
	font-family: "Monserat-Thin100";
	font-style: italic;
	font-weight: 100;
	font-display: fallback;
	src: url("../fonts/Montserrat-ThinItalic.ttf");
}

@font-face {
	font-family: "Monserat-Extra-light";
	font-style: normal;
	font-weight: 200;
	font-display: fallback;
	src: url("../fonts/Montserrat-ExtraLight.ttf");
}

@font-face {
	font-family: "Monserat-Extra-light-italic";
	font-style: italic;
	font-weight: 200;
	font-display: fallback;
	src: url("../fonts/Montserrat-ExtraLightItalic.ttf");
}

@font-face {
	font-family: "Monserat-Light";
	font-style: normal;
	font-weight: 300;
	font-display: fallback;
	src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
	font-family: "Monserat-Light-italic";
	font-style: italic;
	font-weight: 300;
	font-display: fallback;
	src: url("../fonts/Montserrat-LightItalic.ttf");
}

@font-face {
	font-family: "Monserat-Regular";
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family: "Monserat-Regular-italic";
	font-style: italic;
	font-weight: 400;
	font-display: fallback;
	src: url("../fonts/Montserrat-Italic.ttf");
}

@font-face {
	font-family: "Monserat-Medium";
	font-style: normal;
	font-weight: 500;
	font-display: fallback;
	src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
	font-family: "Monserat-Medium-italic";
	font-style: italic;
	font-weight: 500;
	font-display: fallback;
	src: url("../fonts/Montserrat-MediumItalic.ttf");
}

@font-face {
	font-family: "Monserat-Semi-Bold";
	font-style: normal;
	font-weight: 600;
	font-display: fallback;
	src: url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
	font-family: "Monserat-Semi-Bold-italic";
	font-style: italic;
	font-weight: 600;
	font-display: fallback;
	src: url("../fonts/Montserrat-SemiBoldItalic.ttf");
}

@font-face {
	font-family: "Monserat-Bold";
	font-style: normal;
	font-weight: 700;
	font-display: fallback;
	src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
	font-family: "Monserat-Bold-italic";
	font-style: italic;
	font-weight: 700;
	font-display: fallback;
	src: url("../fonts/Montserrat-BoldItalic.ttf");
}

@font-face {
	font-family: "Monserat-Extra-Bold";
	font-style: normal;
	font-weight: 800;
	font-display: fallback;
	src: url("../fonts/Montserrat-ExtraBold.ttf");
}

@font-face {
	font-family: "Monserat-Extra-Bold-italic";
	font-style: italic;
	font-weight: 800;
	font-display: fallback;
	src: url("../fonts/Montserrat-ExtraBoldItalic.ttf");
}

@font-face {
	font-family: "Monserat-Black";
	font-style: normal;
	font-weight: 900;
	font-display: fallback;
	src: url("../fonts/Montserrat-Black.ttf");
}

@font-face {
	font-family: "Monserat-Black-italic";
	font-style: italic;
	font-weight: 900;
	font-display: fallback;
	src: url("../fonts/Montserrat-BlackItalic.ttf");
}
