	body {
	color: #000;
	font-family: serif;
	font-size: 10pt;
}

a {
	color: white;
}
/*-----------Header------------*/
.header {
	width: 100%;
	background-color: #77619e;
	color: #f0f0f0;
	height: 57px;
	position: fixed;
	top: 0;
	z-index: 100;
}

.header__container {
	width: 1110px;
	display: flex;
	margin: 0 auto;
}

.header__menu {
	margin: auto 0;
}

.menu__list {
	display: flex;
}

.menu__list li {
	
	margin-left: 25px;
	white-space: nowrap;
}

.menu__list li:nth-child(1) {
	margin-left: 45px;
}

.header__icons-social {
	margin: auto 0;
	margin-left: auto;
}

.menu__social {
	display: flex;
}

.l1 img:hover {
	box-shadow: 0px 0px 10px 1px black;
	border-radius: 20px;
	background-color:  #EB722E;
}

.l2 img:hover {
	box-shadow: 0px 0px 10px 1px black;
	border-radius: 20px;
	background-color:  #5954b6;
}

.l3 img:hover {
	box-shadow: 0px 0px 10px 1px black;
	border-radius: 10px;
	background: linear-gradient(0deg, #e26464, #5954b6);
}

.l4 img:hover {
	box-shadow: 0px 0px 10px 1px black;
	border-radius: 5px;
	background-color:  #61A8DE;
}

.l5 img:hover {
	box-shadow: 0px 0px 10px 1px black;
	border-radius: 5px;
	background-color:  #9179EE;
}

.l6 img:hover {
	box-shadow: 0px 0px 10px 1px black;
	border-radius: 5px;
	background-color: #5954b6;

}

.menu__social li {
	padding-right: 10px;
}
.menu__list a:hover {
	color: #fef9c7;
	text-shadow: #fef9c7 0px 0px 10px;
	transition: 0.5s;
}
.menu__social li:nth-last-child(1) {
	padding-right: 0px;
}

/*ВЫПАДАЮЩИЙ СПИСОК*/

.but,
#menu ul a {
	background-color: #e26464;
	list-style: none;
	display: inline-block;
	padding: 10px 10px;
	text-decoration: none;
	color: white;
	width: 200px;
	transition: all 1s;
	font-family: Monserat-Bold;
}

#menu li {
	opacity: 0%;
}

.but {
	background-color: #e26464;
	height: 57px;
	font-family: Monserat-Bold;
	font-size: 16px;
	border-radius: 2px;
	box-shadow: 0px -10px 10px 2px rgb(90, 90, 90);
}

.but:hover{
	background-color: #fef9c7;
	color: black;
}

#menu ul{
	position: absolute;
	animation-fill-mode: forwards;

}

#menu li a:hover {
	background-color: #fef9c7;
	color: black;
	transition:0.01s;
}

#menu li a:active {
	background-color: #6fa794;
	color: #fff;
}

.l_i:hover {
	transition: all .5s;
	list-style: none;
	box-shadow: 2px 5px 10px 1px rgb(165, 165, 165);
	transform: scale(1.03);
}



@keyframes slidein_click {
	0% {
		overflow: hidden;
		visibility: hidden;
		margin-left: -100%;
	}
	70% {
		margin-left: 20%;
		
	}
	100% {
		margin-left: 0%;
		opacity: 100%;

	}
}
/*ВЫПАДАЮЩИЙ СПИСОК*/
/* Preloader */
.loader {
	background: #eee;
	background: radial-gradient(#ffffff, #a5a5a5);
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99999;
}

.loader-inner {
	bottom: 0;
	height: 60px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
}

.loader-line-wrap {
	animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
	box-sizing: border-box;
	height: 50px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	transform-origin: 50% 100%;
	width: 100px;
}
.loader-line {
	border: 4px solid transparent;
	border-radius: 100%;
	box-sizing: border-box;
	height: 100px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 100px;
}
.loader-line-wrap:nth-child(1) {
	animation-delay: -50ms;
}
.loader-line-wrap:nth-child(2) {
	animation-delay: -100ms;
}
.loader-line-wrap:nth-child(3) {
	animation-delay: -150ms;
}
.loader-line-wrap:nth-child(4) {
	animation-delay: -200ms;
}
.loader-line-wrap:nth-child(5) {
	animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
	border-color: hsl(0, 80%, 60%);
	height: 90px;
	width: 90px;
	top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
	border-color: hsl(60, 80%, 60%);
	height: 76px;
	width: 76px;
	top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
	border-color: hsl(120, 80%, 60%);
	height: 62px;
	width: 62px;
	top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
	border-color: hsl(180, 80%, 60%);
	height: 48px;
	width: 48px;
	top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
	border-color: hsl(240, 80%, 60%);
	height: 34px;
	width: 34px;
	top: 35px;
}

@keyframes spin {
	0%,
	15% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
