.snow{
	position: absolute;
	
	width: 1110px;
	height: 100px;
	left: 20.5%;
	margin-top: -20px;
}

.anim{
	position: absolute;
	background-color: #fff;
	width: 10px;
	height: 10px;
	border-radius: 50px;
	z-index: 200;
}

.anim:nth-child(1){
	background-color: #fff;
	margin-left: 30px;
	animation:snowen 16s  linear infinite;
	width: 5px;
	height: 5px;
}
.anim:nth-child(2){
	background-color: #eee;
	margin-left: 60px;
	animation:snowen 34s linear infinite;
	margin-top: -15px;

}
.anim:nth-child(3){
	background-color: #fff;
	margin-left: 90px;
	animation:snowen 11s  linear infinite;

}
.anim:nth-child(4){
	background-color: #eee;
	margin-left: 120px;
	animation:snowen 23s  linear infinite;
	width: 5px;
	height: 5px;

}
.anim:nth-child(5){
	background-color: #fff;
	margin-left: 150px;
	animation:snowen 4s  linear infinite;
	margin-top: -50px;

}

.anim:nth-child(6){
	background-color: #fff;
	margin-left: 180px;
	animation:snowen 29s  linear infinite;

}

.anim:nth-child(7){
	background-color: #fff;
	margin-left: 210px;
	animation:snowen 37s  linear infinite;
	margin-top: -30px;

}

.anim:nth-child(8){
	background-color: #fff;
	margin-left: 240px;
	animation:snowen 42s  linear infinite;
	width: 5px;
	height: 5px;

}

.anim:nth-child(9){
	background-color: #fff;
	margin-left: 270px;
	animation:snowen 19s  linear infinite;

}

.anim:nth-child(10){
	background-color: #fff;
	margin-left:300px;
	animation:snowen 39s  linear infinite;
	margin-top: -20px;

}

.anim:nth-child(11){
	background-color: #fff;
	margin-left: 330px;
	animation:snowen 19s  linear infinite;
	width: 5px;
	height: 5px;

}

.anim:nth-child(12){
	background-color: #fff;
	margin-left: 360px;
	animation:snowen 2s  linear infinite;
	margin-top: -40px;

}

.anim:nth-child(13){
	background-color: #fff;
	margin-left: 390px;
	animation:snowen 45s  linear infinite;
	width: 5px;
	height: 5px;
	margin-top: -20px;

}

.anim:nth-child(14){
	background-color: #fff;
	margin-left: 420px;
	animation:snowen 10s  linear infinite;

}

.anim:nth-child(15){
	background-color: #fff;
	margin-left: 450px;
	animation:snowen 29s  linear infinite;
	width: 5px;
	height: 5px;
	margin-top: -32px;

}

.anim:nth-child(16){
	background-color: #fff;
	margin-left: 480px;
	animation:snowen 21s  linear infinite;


}
.anim:nth-child(17){
	background-color: #fff;
	margin-left: 510px;
	animation:snowen 38s  linear infinite;
	width: 5px;
	height: 5px;
	margin-top: -25px;

}
.anim:nth-child(18){
	background-color: #fff;
	margin-left: 540px;
	animation:snowen 47s  linear infinite;


}
.anim:nth-child(19){
	background-color: #fff;
	margin-left: 570px;
	animation:snowen 4s  linear infinite;
	margin-top: -20px;
	
}
.anim:nth-child(20){
	background-color: #fff;
	margin-left: 600px;
	animation:snowen 42s  linear infinite;
	width: 5px;
	height: 5px;

}
.anim:nth-child(21){
	background-color: #fff;
	margin-left: 630px;
	animation:snowen 9s  linear infinite;


}
.anim:nth-child(22){
	background-color: #fff;
	margin-left: 660px;
	animation:snowen 38s  linear infinite;
	width: 5px;
	height: 5px;
	margin-top: -15px;
}
.anim:nth-child(23){
	background-color: #fff;
	margin-left: 690px;
	animation:snowen 26s  linear infinite;
	margin-top: -30px;
}
.anim:nth-child(24){
	background-color: #fff;
	margin-left: 720px;
	animation:snowen 13s  linear infinite;
	width: 5px;
	height: 5px;
	margin-top: -10px;

}
.anim:nth-child(25){
	background-color: #fff;
	margin-left: 750px;
	animation:snowen 39s  linear infinite;
	width: 5px;
	height: 5px;
	margin-top: -22px;

}
.anim:nth-child(26){
	background-color: #fff;
	margin-left: 780px;
	animation:snowen 1s  linear infinite;
	

}
.anim:nth-child(27){
	background-color: #fff;
	margin-left: 810px;
	animation:snowen 51s  linear infinite;
	width: 5px;
	height: 5px;
	margin-top: -24px;

}
.anim:nth-child(28){
	background-color: #fff;
	margin-left: 840px;
	animation:snowen 28s  linear infinite;
	
}
.anim:nth-child(29){
	background-color: #fff;
	margin-left: 870px;
	animation:snowen 40s  linear infinite;
	width: 5px;
	height: 5px;
	margin-top: -20px;

}
.anim:nth-child(30){
	background-color: #fff;
	margin-left: 900px;
	animation:snowen 6s  linear infinite;
	
}
.anim:nth-child(31){
	background-color: #fff;
	margin-left: 930px;
	animation:snowen 19s  linear infinite;
	width: 5px;
	height: 5px;
	margin-top: -17px;

}
.anim:nth-child(32){
	background-color: #fff;
	margin-left: 960px;
	animation:snowen 35s  linear infinite;
	width: 5px;
	height: 5px;

}
.anim:nth-child(33){
	background-color: #fff;
	margin-left: 990px;
	animation:snowen 30s  linear infinite;
}
.anim:nth-child(34){
	background-color: #fff;
	margin-left: 1020px;
	animation:snowen 8s  linear infinite;
	margin-top: -10px;
}
.anim:nth-child(35){
	background-color: #fff;
	margin-left: 1050px;
	animation:snowen 27s  linear infinite;
	width: 5px;
	height: 5px;
	margin-top: -18px;
}
.anim:nth-child(36){
	background-color: #fff;
	margin-left: 1080px;
	animation:snowen 34s  linear infinite;
	width: 5px;
	height: 5px;
}
.anim:nth-child(37){
	background-color: #fff;
	margin-left: 1110px;
	animation:snowen 17s  linear infinite;
	margin-top: -30px;
}



@keyframes snowen {
	0%{
		opacity: 100%;
		margin-top: 0%;
	}
	100%{
		margin-top: 100%;
		opacity: 0%;

	}
}